apiVersion: apps/v1
kind: Deployment
metadata: 
  name: auth-python
  labels:
    tags.datadoghq.com/env: demo
    tags.datadoghq.com/service: auth-python
    tags.datadoghq.com/version: "0.1.0"
spec:
  replicas: 1
  selector: { matchLabels: { app: auth-python } }
  template:
    metadata:
      labels: 
        app: auth-python
        tags.datadoghq.com/env: demo
        tags.datadoghq.com/service: auth-python
        tags.datadoghq.com/version: "0.1.0"
        admission.datadoghq.com/enabled: "true"
      annotations:
        ad.datadoghq.com/auth-python.logs: |
          [{"source":"python","service":"auth-python"}]
        admission.datadoghq.com/python-lib.version: latest
    spec:
      containers:
      - name: auth-python
        image: 222066942551.dkr.ecr.ap-northeast-2.amazonaws.com/datadog-runner/auth-python:latest
        ports:
        - containerPort: 8000
        env:
        - {name: PG_DSN,      value: "postgresql://app:app@postgres:5432/app"}
        - {name: REDIS_DSN,   value: "redis://redis:6379/0"}
        - {name: DD_LOGS_INJECTION, value: "true"}
        - {name: DD_APPSEC_ENABLED, value: "true"}
        - {name: DD_TRACE_ENABLED, value: "true"}
        - {name: DD_AGENT_HOST, valueFrom: {fieldRef: {fieldPath: status.hostIP}}}
        readinessProbe: { httpGet: { path: "/auth/logout", port: 8000 }, initialDelaySeconds: 5 }
---
apiVersion: v1
kind: Service
metadata: { name: auth-python-svc }
spec:
  selector: { app: auth-python }
  ports: [{ port: 8000, targetPort: 8000 }]
